<!--Menu-->
<div ng-controller="MenuController" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" style="width: 100%; margin:0;">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="margin-top: 10px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#" style="text-decoration: none; color: #fff; margin-left: 0px;">Learni</a>
            <div class="hidden-phone hidden-tablet pull-left">
                <form class="navbar-search pull-left">
                    <input type="text" class="search-query span3" placeholder="Search" style="margin-top: 7px;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                </form>
            </div>
            <div class="nav-collapse collapse pull-right" style=" margin-right: 10px;">

                <ul class="nav hidden-phone hidden-tablet">
                    <li style="font-size: 15px; margin-top: 3px; margin-left: 10px;" class="dodaj-material">
                        <a href="#/packages" class="btn btn-info" style="font-size: 15px; padding:7px; margin-top: 6px; background:none;"><i class="icon-pushpin"></i> Packages</a>
                    </li>
                    <li style="font-size: 15px; margin-top: 3px; margin-left: 10px;" class="dodaj-material">
                        <a href="" ng-click="newPackage()" class="btn btn-primary" style="font-size: 15px; padding:7px; margin-top: 6px;"><i class="icon-plus-sign"></i> Add Package</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle pic" data-toggle="dropdown" style="margin:0;padding:0;margin-top: 8px; margin-left: 20px; margin-bottom: 5px;">
                            <img src="/App/img/1.jpg" style="width: 35px; border-radius: 50px; margin:0;padding:0; -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5); box-shadow: 0px 1px 3px rgba(0,0,0,0.5);">
                            <span class="caret" style="margin-top: 18px;"></span>
                        </a>

                        <ul class="dropdown-menu" style=" left:-145%;">
                            <li style="text-align: right;"><a href=""><i class="icon-user"></i> Account</a></li>
                            <li style="text-align: right;"><a href="" ng-click="logout()"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="hidden-desktop">
                    <div class="hidden-desktop" style="color:#fff; margin-bottom: 15px;">
                        <a href="#/packages" class="btn btn-link" style="font-size: 15px; padding:7px; margin-top: 6px; border: 1px #1abc9c solid; margin-right: 5px; width: 120px;"><i class="icon-pushpin"></i> Packages</a>
                        <a href="" ng-click="newPackage()" class="btn btn-primary" style="font-size: 15px; padding:7px; margin-top: 6px;border: 1px #1abc9c solid; width: 120px;"><i class="icon-plus-sign"></i> Add Package</a>
                        <a href="#myModal1" role="button" data-toggle="modal" style="margin:0;padding:0;margin-top: -5px; margin-left: 20px;"><img src="/App/img/1.jpg" style="width: 35px; border-radius: 50px; margin:0;padding:0;"></a>
                    </div>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<!--Categories-->
<div style="border-right: 1px #ddd solid; width: 15%; margin-right: 3%; background:#fff; margin-top: -10px; height: 100%; position:fixed; left: 0px; padding-top: 20px;" class="hidden-phone">
    <h4 style="margin-left: 20px; font-size: 20px; font-weight: bold;">Categories</h4>
    <hr>
    <div class="bs-sidebar" style="margin-top: -30px; margin-bottom:-15px;">
        <ul class="nav bs-sidenav" style="background:#fff; border-radius: 0px 0 0 0px;">
            <li ng-repeat="category in categories" style="border-bottom: 1px #f4f4f4 solid;">
                <a href="" ng-click="goToCategory(category)"><i class="icon-tags"></i> {{category.name}}</a>
            </li>

        </ul>
    </div>
    <br>
    <div style="padding-left: 10px;">

        <h4 style="font-size: 20px; font-weight: bold;">Social media</h4>

        <a class="btn btn-info" style="border-radius: 50px; width: 22px; height: 22px; padding:5px;"><i class="icon-facebook"></i></a>
        <a class="btn btn-info" style="border-radius: 50px; width: 22px; height: 22px; padding:5px; font-size: 14px;"><i class="icon-twitter"></i></a>
        <a class="btn btn-danger" style="border-radius: 50px; width: 22px; height: 22px; padding:5px; font-size: 14px;"><i class="icon-google-plus-sign"></i></a>
        <a class="btn btn-danger" style="border-radius: 50px; width: 22px; height: 22px; padding:5px; font-size: 14px;"><i class="icon-facetime-video"></i></a>
        <a class="btn btn-primary" style="border-radius: 50px; width: 22px; height: 22px; padding:5px; font-size: 14px;"><i class="icon-linkedin"></i></a>
        <a class="btn btn-primary" style="border-radius: 50px; width: 22px; height: 22px; padding:5px; font-size: 14px;"><i class="icon-foursquare"></i></a>

    </div>
</div>

<!--<div class="span4" style="float:left">
        <h2>Categories</h2>
        <hr />
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="category in categories"><a href="" ng-click="goToCategory(category)">{{category.Name}}</a></li>
        </ul>
    </div>-->


<!--Packages-->
<div class="container">
    <div class="row demo-row">
        <div style="margin-top: 5px;">

            <div style="display:inline-block; margin-right: 10px;">
                <h3 style="margin-bottom: -8px;">Packages</h3>
                <h4 style="font-size: 16px;">{{currentCategory.name}}</h4>
            </div>
            <div style="display:inline-block; float: right;">
                <div style="display:inline-block; margin-right:15px; text-align: center; line-height: 180%;" class="hidden-phone">
                    <span style=" color:#999;"><b>Items count</b></span><br>
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary" style="font-family:'lato'; font-size: 14px;">12</a>
                        <a href="#" class="btn" style="font-family:'lato'; font-size: 14px;">24</a>
                        <a href="#" class="btn" style="font-family:'lato'; font-size: 14px;">48</a>
                    </div>
                </div>
            </div>

            <div style="span12" style="margin-top: 5px;">

                <div ng-repeat="package in packages" class="thumbnail span3">
                    <!--<img src="/App/img/img.jpg" style="border-radius:3px 3px 0 0;">-->
                    <a href="#/package/{{package.id}}">
                        <div class="caption" style="text-align:center;">
                            <h4 style="font-size: 15px; margin-top:0; margin-bottom:0;">
                                <b>{{package.name}}</b><br>
                                <!--<span style="color:#189800; font-size: 15px; font-weight:bold;"><b>200zł</b></span>-->
                            </h4>
                            <hr style="margin:5px 0;">
                            <div style="font-size: 14px; height: 50px; color:#777; line-height: 135%; display: inline-block; text-align: left; margin-right: 1%; width:100%;" class="hidden-phone">
                                {{package.description}}
                            </div>
                            <!--<div style="font-size: 12px; color:#777; line-height: 135%; display: inline-block; text-align: left; margin-right: 1%; width:31%;" class="hidden-phone">
                                Pojęcia
                                <br>
                                <span style="font-size: 14px;">
                                    <i class="icon-pencil"></i> 34
                                </span>
                            </div>
                            <div style="font-size: 12px; color:#777; line-height: 145%; display: inline-block; text-align: center; margin-right: 1%; width:42%;" class="hidden-phone">
                                Ocena (4)
                                <br>
                                <span style="color:#f1c40f;">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                </span>
                            </div>
                            <div style="font-size: 12px; color:#777; line-height: 145%; display: inline-block; text-align: center; margin-right: 1%; width:100%;" class="visible-phone">

                                <span style="color:#f1c40f;">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                </span>
                            </div>-->
                        </div>
                    </a>
                    <div class="modal-footer" style="padding:5px 5px;">
                        <center>
                            <div class="hidden-phone hidden-tablet" style="display:inline-block; width:35px; margin-right: 5px;"><img src="/App/img/1.jpg" style="width: 35px; border-radius: 50px; margin:0;padding:0; -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5); box-shadow: 0px 1px 3px rgba(0,0,0,0.5);"></div>
                            <div style="display:inline-block; font-size: 13px; text-align: left; line-height: 120%;"><b>Paweł Majda</b></div>
                        </center>
                    </div>
                </div>

                <p>&nbsp;</p>
                <div class="span12" style="margin-top: 20px;">&nbsp;</div>
                <!--<center>
                    <div class="span12" style="width:100%;">
                    <div class="pagination">
                        <ul>
                            <li class="disabled"><a href="#"><<</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>
                </center>-->
            </div>

        </div>
    </div>
</div>

<!--<div class="span5" style="margin-left: 300px">
    <h2>Packages</h2>
    <hr />
    <span ng-repeat="package in packages" class="span5">
        <a href="#/package/{{package.Id}}"><strong>{{package.Name}}</strong></a><br/>
    </span>
</div>-->
